ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE 67133182
    PROJECT-IDENTIFIER P1
    AREA A1

MESSAGE-SQUARE
    *** ORPHAN COMPONENTS — no coordinate match found ***
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6568
SUPPORT
    CO-ORDS  1150221.527 1037180.238 103914.961 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6571
SUPPORT
    CO-ORDS  1150221.527 1037180.239 103914.961 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6577
SUPPORT
    CO-ORDS  1150221.54 1048532.969 103903.607 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6592
SUPPORT
    CO-ORDS  1141385.534 1099769.56 103843.53 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6595
SUPPORT
    CO-ORDS  1128285.54 1099769.56 103830.429 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6598
SUPPORT
    CO-ORDS  1115185.547 1099769.56 103817.328 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6601
SUPPORT
    CO-ORDS  1102085.553 1099769.56 103804.227 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6604
SUPPORT
    CO-ORDS  1088985.56 1099769.56 103791.126 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6607
SUPPORT
    CO-ORDS  1075885.566 1099769.56 103778.025 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6610
SUPPORT
    CO-ORDS  1070407.106 1096769.562 103769.546 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6613
SUPPORT
    CO-ORDS  1065607.108 1093051.237 103761.027 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6616
SUPPORT
    CO-ORDS  1053749.809 1093051.237 103749.169 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6619
SUPPORT
    CO-ORDS  1051574.074 1099376.234 103740.668 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6622
SUPPORT
    CO-ORDS  1047374.076 1103683.024 103732.16 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6625
SUPPORT
    CO-ORDS  1034274.082 1103683.024 103719.059 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6628
SUPPORT
    CO-ORDS  1027707.429 1102269.026 103711.078 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67149566/141
SUPPORT
    CO-ORDS  1148809.502 1035252.414 104656.566 300.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6631
SUPPORT
    CO-ORDS  1027707.429 1099494.518 103632.303 600.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6565
SUPPORT
    CO-ORDS  1027707.429 1099394.62 103632.204 400.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6634
SUPPORT
    CO-ORDS  1026294.236 1096382.273 104329.588 100.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA