ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE 67130482
    PROJECT-IDENTIFIER P1
    AREA A1

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=149MM, SOUTH  RefNo:=67130482/1668
FLANGE
    END-POINT  96400.0 15781.4 101968.0 400.0
    END-POINT  96400.0 15632.4 101968.0 400.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=146MM, SOUTH  RefNo:=67130482/1670
FLANGE
    END-POINT  96400.0 15632.4 101968.0 400.0
    END-POINT  96400.0 15486.4 101968.0 400.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, 0, LENGTH=146MM, SOUTH  RefNo:=67130482/1664_sp4
PIPE
    END-POINT  96400.0 15632.4 101968.0 400.0
    END-POINT  96400.0 15486.4 101968.0 400.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, 0, LENGTH=500MM, SOUTH  RefNo:=67130482/1664_sp3
PIPE
    END-POINT  96400.0 16281.4 101968.0 400.0
    END-POINT  96400.0 15781.4 101968.0 400.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    TEE, 400X350, A106-B, SOUTH  RefNo:=67130482/1667
TEE
    END-POINT  96400.0 16891.4 101968.0 400.0
    END-POINT  96400.0 16281.4 101968.0 400.0
    CENTRE-POINT  96400.0 16586.4 101968.0 400.0
    BRANCH1-POINT  96400.0 16586.4 102273.0 350.0
    <SKEY> TEBW
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=295MM, SOUTH  RefNo:_gap_=67130482/2807_=67130482/1667
PIPE
    END-POINT  96400.0 17186.4 101968.0 400.0
    END-POINT  96400.0 16891.4 101968.0 400.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=654MM, SOUTH  RefNo:_gap_=67130482/1666_=67130482/2807
PIPE
    END-POINT  96400.0 17840.4 101968.0 400.0
    END-POINT  96400.0 17186.4 101968.0 400.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    SUPPORT, PS00178.1  RefNo:=67130482/2807
SUPPORT
    CO-ORDS  96400.0 17186.4 101968.0 400.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00178.1

MESSAGE-SQUARE
    PIPE, 0, LENGTH=295MM, SOUTH  RefNo:=67130482/1664_sp2
PIPE
    END-POINT  96400.0 17186.4 101968.0 400.0
    END-POINT  96400.0 16891.4 101968.0 400.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, 0, LENGTH=654MM, SOUTH  RefNo:=67130482/1664_sp1
PIPE
    END-POINT  96400.0 17840.4 101968.0 400.0
    END-POINT  96400.0 17186.4 101968.0 400.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=146MM, SOUTH  RefNo:=67130482/1666
FLANGE
    END-POINT  96400.0 17986.4 101968.0 400.0
    END-POINT  96400.0 17840.4 101968.0 400.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, 0, LENGTH=149MM, SOUTH  RefNo:=67130482/1664_sp0
PIPE
    END-POINT  96400.0 17989.4 101968.0 400.0
    END-POINT  96400.0 17840.4 101968.0 400.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=146MM, UP  RefNo:=67130482/1154
FLANGE
    END-POINT  96400.0 16586.4 102473.0 350.0
    END-POINT  96400.0 16586.4 102619.0 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=143MM, UP  RefNo:=67130482/1161
FLANGE
    END-POINT  96400.0 16586.4 103384.0 350.0
    END-POINT  96400.0 16586.4 103527.0 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=150MM, UP  RefNo:_gap_=67130482/1161_=67130482/1558
PIPE
    END-POINT  96400.0 16586.4 103527.0 350.0
    END-POINT  96400.0 16586.4 103677.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=150MM, UP  RefNo:_gap_=67130482/1558_=67130482/1164
PIPE
    END-POINT  96400.0 16586.4 103677.0 350.0
    END-POINT  96400.0 16586.4 103827.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=533.0, A106-B, WEST AND UP  RefNo:=67130482/1164
BEND
    END-POINT  96400.0 16586.4 103827.0 350.0
    END-POINT  95867.0 16586.4 104360.0 350.0
    CENTRE-POINT  96400.0 16586.4 104360.0 350.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 533.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=146MM, WEST  RefNo:=67130482/1540
FLANGE
    END-POINT  95867.0 16586.4 104360.0 350.0
    END-POINT  95721.0 16586.4 104360.0 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, 0, LENGTH=893MM, WEST AND UP  RefNo:=67130482/1151_sp3
PIPE
    END-POINT  96400.0 16586.4 103827.0 350.0
    END-POINT  95683.0 16586.4 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=143MM, WEST  RefNo:=67130482/1673
FLANGE
    END-POINT  95683.0 16586.4 104360.0 350.0
    END-POINT  95540.0 16586.4 104360.0 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=297MM, WEST  RefNo:_gap_=67130482/1673_=67130482/1165
PIPE
    END-POINT  95540.0 16586.4 104360.0 350.0
    END-POINT  95243.2 16586.4 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=533.0, A106-B, SOUTH AND WEST  RefNo:=67130482/1165
BEND
    END-POINT  95243.2 16586.4 104360.0 350.0
    END-POINT  94710.2 16053.4 104360.0 350.0
    CENTRE-POINT  94710.2 16586.4 104360.0 350.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 533.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1067MM, SOUTH  RefNo:_gap_=67130482/1165_=67130482/2728
PIPE
    END-POINT  94710.2 16053.4 104360.0 350.0
    END-POINT  94710.2 14986.4 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=10800MM, SOUTH  RefNo:_gap_=67130482/2728_=67130482/2731
PIPE
    END-POINT  94710.2 14986.4 104360.0 350.0
    END-POINT  94710.2 4186.4 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=5700MM, SOUTH  RefNo:_gap_=67130482/2731_=67130482/2764
PIPE
    END-POINT  94710.2 4186.4 104360.0 350.0
    END-POINT  94710.2 -1513.6 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=603MM, SOUTH  RefNo:_gap_=67130482/2764_=67130482/1534
PIPE
    END-POINT  94710.2 -1513.6 104360.0 350.0
    END-POINT  94710.2 -2117.0 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    SUPPORT, PS00172.1  RefNo:=67130482/2764
SUPPORT
    CO-ORDS  94710.2 -1513.6 104360.0 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00172.1

MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=533.0, A106-B, EAST AND SOUTH  RefNo:=67130482/1534
BEND
    END-POINT  94710.2 -2117.0 104360.0 350.0
    END-POINT  95243.2 -2650.0 104360.0 350.0
    CENTRE-POINT  94710.2 -2650.0 104360.0 350.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 533.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=2267MM, EAST  RefNo:_gap_=67130482/1534_=67130482/2737
PIPE
    END-POINT  95243.2 -2650.0 104360.0 350.0
    END-POINT  97510.2 -2650.0 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=4000MM, EAST  RefNo:_gap_=67130482/2737_=67130482/2740
PIPE
    END-POINT  97510.2 -2650.0 104360.0 350.0
    END-POINT  101510.2 -2650.0 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=271MM, EAST  RefNo:_gap_=67130482/2740_=67130482/1559
PIPE
    END-POINT  101510.2 -2650.0 104360.0 350.0
    END-POINT  101781.03 -2650.0 104360.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    SUPPORT, PS00164.1  RefNo:=67130482/2740
SUPPORT
    CO-ORDS  101510.2 -2650.0 104360.0 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00164.1

MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=533.0, A106-B, EAST AND UP  RefNo:=67130482/1559
BEND
    END-POINT  101781.03 -2650.0 104360.0 350.0
    END-POINT  102314.03 -2650.0 104893.0 350.0
    CENTRE-POINT  102314.03 -2650.0 104360.0 350.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 533.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1902MM, UP  RefNo:_gap_=67130482/1559_=67130482/1560
PIPE
    END-POINT  102314.03 -2650.0 104893.0 350.0
    END-POINT  102314.03 -2650.0 106794.8 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=533.0, A106-B, EAST AND UP  RefNo:=67130482/1560
BEND
    END-POINT  102314.03 -2650.0 106794.8 350.0
    END-POINT  102847.03 -2650.0 107327.8 350.0
    CENTRE-POINT  102314.03 -2650.0 107327.8 350.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 533.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=187MM, EAST  RefNo:_gap_=67130482/1560_=67130482/2743
PIPE
    END-POINT  102847.03 -2650.0 107327.8 350.0
    END-POINT  103034.0 -2650.0 107327.8 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=2233MM, EAST  RefNo:_gap_=67130482/2743_=67130482/1576
PIPE
    END-POINT  103034.0 -2650.0 107327.8 350.0
    END-POINT  105267.43 -2650.0 107327.8 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    SUPPORT, PS00165.1  RefNo:=67130482/2743
SUPPORT
    CO-ORDS  103034.0 -2650.0 107327.8 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00165.1

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=300MM, EAST  RefNo:_gap_=67130482/1576_=67130482/1570
PIPE
    END-POINT  105267.43 -2650.0 107327.8 350.0
    END-POINT  105567.429 -2650.0 107327.8 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=130MM, EAST  RefNo:=67130482/1570
FLANGE
    END-POINT  105567.429 -2650.0 107327.8 350.0
    END-POINT  105697.429 -2650.0 107327.8 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=127MM, EAST  RefNo:=67130482/1572
FLANGE
    END-POINT  105697.429 -2650.0 107327.8 350.0
    END-POINT  105824.429 -2650.0 107327.8 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=660MM, EAST  RefNo:_gap_=67130482/1572_=67130482/2746
PIPE
    END-POINT  105824.429 -2650.0 107327.8 350.0
    END-POINT  106484.0 -2650.0 107327.8 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=10086MM, EAST  RefNo:_gap_=67130482/2746_=67130482/1580
PIPE
    END-POINT  106484.0 -2650.0 107327.8 350.0
    END-POINT  116570.429 -2650.0 107327.8 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    SUPPORT, PS00166.1  RefNo:=67130482/2746
SUPPORT
    CO-ORDS  106484.0 -2650.0 107327.8 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00166.1

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=135MM, EAST  RefNo:=67130482/1580
FLANGE
    END-POINT  116570.429 -2650.0 107327.8 350.0
    END-POINT  116705.229 -2650.0 107327.8 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=127MM, EAST  RefNo:=67130482/1582
FLANGE
    END-POINT  116705.229 -2650.0 107327.8 350.0
    END-POINT  116832.229 -2650.0 107327.8 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=352MM, EAST  RefNo:_gap_=67130482/1582_=67130482/2749
PIPE
    END-POINT  116832.229 -2650.0 107327.8 350.0
    END-POINT  117184.0 -2650.0 107327.8 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=410MM, EAST  RefNo:_gap_=67130482/2749_=67130482/1567
PIPE
    END-POINT  117184.0 -2650.0 107327.8 350.0
    END-POINT  117594.229 -2650.0 107327.8 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    SUPPORT, PS00167.1  RefNo:=67130482/2749
SUPPORT
    CO-ORDS  117184.0 -2650.0 107327.8 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00167.1

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=130MM, EAST  RefNo:=67130482/1567
FLANGE
    END-POINT  117594.229 -2650.0 107327.8 350.0
    END-POINT  117724.229 -2650.0 107327.8 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=127MM, EAST  RefNo:=67130482/1569
FLANGE
    END-POINT  117724.229 -2650.0 107327.8 350.0
    END-POINT  117851.229 -2650.0 107327.8 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=533.0, A106-B, EAST AND DOWN  RefNo:=67138674/22118
BEND
    END-POINT  117851.229 -2650.0 107327.8 350.0
    END-POINT  118384.229 -2650.0 106794.8 350.0
    CENTRE-POINT  118384.229 -2650.0 107327.8 350.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 533.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=4294MM, DOWN  RefNo:_gap_=67138674/22118_=67138674/22106
PIPE
    END-POINT  118384.229 -2650.0 106794.8 350.0
    END-POINT  118384.229 -2650.0 102500.998 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=533.0, A106-B, SOUTH AND DOWN  RefNo:=67138674/22106
BEND
    END-POINT  118384.229 -2650.0 102500.998 350.0
    END-POINT  118384.229 -3183.0 101967.998 350.0
    CENTRE-POINT  118384.229 -2650.0 101967.998 350.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 533.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    OLET, 350X50, A106-B  RefNo:=67130482/1576
OLET
    CENTRE-POINT  105267.43 -2650.0 107327.8 350.0
    BRANCH1-POINT  105267.43 -2650.0 107543.7 50.0
    <SKEY> CEBW
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    SUPPORT, PS00163.1  RefNo:=67130482/2737
SUPPORT
    CO-ORDS  97510.2 -2650.0 104360.0 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00163.1

MESSAGE-SQUARE
    SUPPORT, PS00161.1  RefNo:=67130482/2731
SUPPORT
    CO-ORDS  94710.2 4186.4 104360.0 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00161.1

MESSAGE-SQUARE
    SUPPORT, PS00160.1  RefNo:=67130482/2728
SUPPORT
    CO-ORDS  94710.2 14986.4 104360.0 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00160.1

MESSAGE-SQUARE
    PIPE, 0, LENGTH=150MM, UP  RefNo:=67130482/1151_sp2
PIPE
    END-POINT  96400.0 16586.4 103677.0 350.0
    END-POINT  96400.0 16586.4 103827.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    OLET, 350X50, A106-B  RefNo:=67130482/1558
OLET
    CENTRE-POINT  96400.0 16586.4 103677.0 350.0
    BRANCH1-POINT  96400.0 16370.5 103677.0 50.0
    <SKEY> CEBW
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, 0, LENGTH=150MM, UP  RefNo:=67130482/1151_sp1
PIPE
    END-POINT  96400.0 16586.4 103527.0 350.0
    END-POINT  96400.0 16586.4 103677.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, 0, LENGTH=505MM, UP  RefNo:=67130482/1151_sp0
PIPE
    END-POINT  96400.0 16586.4 101968.0 350.0
    END-POINT  96400.0 16586.4 102473.0 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  0
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=130MM, WEST  RefNo:=67146866/4059
FLANGE
    END-POINT  116075.0 -13000.0 101968.0 350.0
    END-POINT  115945.0 -13000.0 101968.0 350.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8  0.0 KG
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    *** ORPHAN COMPONENTS — no coordinate match found ***

MESSAGE-SQUARE
    TEE, 350X300, A106-B, SOUTH  RefNo:=67138674/22107
TEE
    END-POINT  118384.229 -5880.2 101967.998 350.0
    END-POINT  118384.229 -6438.2 101967.998 350.0
    CENTRE-POINT  118384.229 -6159.2 101967.998 350.0
    BRANCH1-POINT  118114.229 -6159.2 101967.998 300.0
    <SKEY> TEBW
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=533.0, A106-B, WEST AND SOUTH  RefNo:=67130482/1192
BEND
    END-POINT  118384.229 -12467.0 101967.998 350.0
    END-POINT  117851.229 -13000.0 101967.998 350.0
    CENTRE-POINT  118384.229 -13000.0 101967.998 350.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 533.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    OLET, 350X50, A106-B  RefNo:=67130482/1594
OLET
    CENTRE-POINT  117551.229 -13000.0 101967.998 350.0
    BRANCH1-POINT  117551.229 -13000.0 101752.098 50.0
    <SKEY> CEBW
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    SUPPORT, PS00168.1  RefNo:=67130482/2752
SUPPORT
    CO-ORDS  118384.229 -4150.0 101967.998 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00168.1

MESSAGE-SQUARE
    SUPPORT, PS00169.1  RefNo:=67130482/2755
SUPPORT
    CO-ORDS  118384.229 -9150.0 101967.998 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00169.1

MESSAGE-SQUARE
    SUPPORT, PS00170.1  RefNo:=67130482/2758
SUPPORT
    CO-ORDS  116951.23 -13000.0 101967.998 350.0
    <SUPPORT_NAME> CA150
    <SUPPORT_GUID> UCI:PS00170.1

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=3317MM, SOUTH  RefNo:_gap_=67130482/2755_=67130482/1192
PIPE
    END-POINT  118384.229 -9150.0 101967.998 350.0
    END-POINT  118384.229 -12467.0 101967.998 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=300MM, WEST  RefNo:_gap_=67130482/1192_=67130482/1594
PIPE
    END-POINT  117851.229 -13000.0 101967.998 350.0
    END-POINT  117551.229 -13000.0 101967.998 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=600MM, WEST  RefNo:_gap_=67130482/1594_=67130482/2758
PIPE
    END-POINT  117551.229 -13000.0 101967.998 350.0
    END-POINT  116951.23 -13000.0 101967.998 350.0
    COMPONENT-ATTRIBUTE1  700.0 KPA
    COMPONENT-ATTRIBUTE2  0 C
    COMPONENT-ATTRIBUTE3  A106-B
    COMPONENT-ATTRIBUTE4  Undefined MM
    COMPONENT-ATTRIBUTE5  0.0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10  1500.0 KPA
